#cardlist {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:flex-start;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%; 
}

.card {
    margin-top: 2%;
}

#cardCont {
    border: red solid 2px;
}
pre {
    visibility: hidden;
}

a {
    text-decoration: none;
}