.main {
    padding-left: 10%;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: white;
}

.card-img-top {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
  }